<div class="mb-4">
  <h2 class="mb-1">Edit <%= @business_plan.name %> Plan</h2>
</div>
<div class="card border-0 shadow-sm">
  <div class="card-body">
    <%= render "form", business_plan: @business_plan %>
  </div>
</div>
