<% content_for :page_title, "Add Life Insurance" %>
<% content_for :page_subtitle, "Easily create and manage life insurance details" %>

<!-- Action Buttons -->
<div class="d-flex justify-content-between align-items-center mb-4">
  <div>
    <%= link_to admin_life_insurances_path, class: "btn btn-outline-secondary" do %>
      <i class="bi bi-arrow-left me-2"></i>
      Back to List
    <% end %>
  </div>

  <div class="trust-seal">
    <i class="bi bi-shield-check seal-icon"></i>
    <span>Save Policy</span>
  </div>
</div>

<%= render 'form' %>